body{
    background-color: #000;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

a{
    color: azure;
    text-decoration: none;

}
a:visited{
    color: bisque;
}
a:hover, a:active{
    color: red
}

ul{
    list-style: none;
}

table, tr, th, td, caption{
    border: 1px solid gainsboro;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
th{
    color: aquamarine;
}
caption{
    font-size: 25px;
    background-color: burlywood;
    color: black;
}

